[submodule "bin/mobile"]
	path = bin/mobile
	url = https://github.com/lang-assist/mobile.git
[submodule "bin/admin-web"]
	path = bin/admin-web
	url = https://github.com/lang-assist/admin-web.git
[submodule "bin/server"]
	path = bin/server
	url = https://github.com/lang-assist/server.git
[submodule "lib/gql"]
	path = lib/gql
	url = https://github.com/lang-assist/gql.git
[submodule "design"]
	path = design
	url = https://github.com/lang-assist/design.git
[submodule "docs"]
	path = docs
	url = https://github.com/lang-assist/docs.git
[submodule "lib/flutter-api"]
	path = lib/flutter-api
	url = https://github.com/lang-assist/flutter-api.git
[submodule "lib/flutter-utils"]
	path = lib/flutter-utils
	url = https://github.com/lang-assist/flutter-utils.git
[submodule "lib/user-data"]
	path = lib/user-data
	url = https://github.com/lang-assist/user-data.git
[submodule "lib/admin-data"]
	path = lib/admin-data
	url = https://github.com/lang-assist/admin-data.git
[submodule "lib/sign"]
	path = lib/sign
	url = https://github.com/Mehmetyaz/sign.git
[submodule "lib/sign_flutter"]
	path = lib/sign_flutter
	url = https://github.com/Mehmetyaz/sign_flutter.git
