OPENAI_API_KEY=...
AZURE_SPEECH_KEY=...
AZURE_SPEECH_REGION=...
AZURE_SPEECH_TOKEN=...
DEEPSEEK_API_KEY=...
ANTHROPIC_API_KEY=...
FAL_API_KEY=...
AZURE_AI_URL_E_US=...
AZURE_AI_KEY_E_US=...
AZURE_AI_URL_EU_2=...
AZURE_AI_KEY_EU_2=...
ENCRYPTION_KEY=...
COOKIE_KEY=...
GROK_3_MINI_KEY=...
AZURE_BRIA_URL=...
AZURE_BRIA_TOKEN=...
AZURE_STORAGE_CONNECTION_STRING=...
GEMINI_API_KEY=...
